/* Provide sufficient contrast against white background */
.page-header {
    margin:50px 0;
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.cart-item {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-bottom {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 5px;
}

.cart-items-count {
    background-color: #000088;
    color: #dddddd;
    width:40px;
    height:40px;
    border-radius: 100%;
    margin:0, auto;
    text-align:center;
}

a:link {
    text-decoration: none;
}

.item-data {
    font-size:24px;
    font-weight:600;
}

.discount-text {
    color:#800000;
    float:right;
    font-weight:700;
}

.discount-text-clear {
    opacity:0;
}

.input-group{
    max-width:180px !important;
}

.checkout {
    max-width: 400px;
    height: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.125);
    background-color: rgba(0, 0, 0, 0.03);
}